{% extends 'base.html' %} {% block title %}{{user.username}}{% endblock %}
{% block content %}
<div class="container border border-success w-70 p-3 mt-3">
  <div class="col-lg-4 w-40 ml-0 mr-0 mx-auto text-center">
    {% if profile.image %}
    <img
      class="w-50 mb-10 mx-auto rounded d-block img-thumbnail"
      src="{{profile.image.url}}"
      alt=""
    />
    {% else %}
    <img
      class="w-50 mb-10 mx-auto rounded d-block img-thumbnail"
      src=""
      alt=""
    />
    {% endif %}
    <h5 class="text-muted">{{user.first_name}} {{user.last_name}}</h5>
    {% if user.is_superuser %}
    <h5>
      <a
        class="text-decoration-underline text-secondary"
        href="{% url 'admin:index' %}"
        >Admin Page</a
      >
    </h5>
    {%endif%}
  </div>
  <h3 class="text-muted text-decoration-underline">Personal Information</h3>

  <div class="col m-3">
    <p><span class="text-dark">Full Name: </span>{{user.get_full_name }}</p>
    <p><span class="text-dark">Email address: </span>{{user.email }}</p>
    <p><span class="text-dark">Username: </span>{{user.username }}</p>
    {% if user.is_superuser %}
    <p><span class="text-dark">Role: </span> Admin </p>
    {%endif%}
    <p><span class="text-dark">Date Joined: </span> {{user.date_joined}}
    </p>

    <a href="{% url 'accounts:profile_edit' %}"
      ><input type="submit" value="Change Info" class="btn btn-success"
    /></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-muted text-capitalize text-decoration-underline">
          pervious Suggestions
        </h3>
        <div class="table-responsive">
          <table
            class="table table-striped table-bordered text-center text-capitalize table-hover"
          >
            <thead class="thead-light">
              <tr class="table-success">
                <th scope="col">time</th>
                <th scope="col">date</th>
                <th scope="col">ratio of Nitroge</th>
                <th scope="col">ratio of Phosphorous</th>
                <th scope="col">ratio of Potassium</th>
                <th scope="col">temperature</th>
                <th scope="col">humidity</th>
                <th scope="col">ph value</th>
                <th scope="col">rainfall</th>
                <th scope="col">Suggested Crop</th>
                
              </tr>
            </thead>
            <tbody>
              {%for p in suggest%}
              <tr class="table-success">
                <td>{{p.time|time:"h:i A"}}</td>
                <td>{{p.date}}</td>
                <td>{{p.N|floatformat:2}}</td>
                <td>{{p.K|floatformat:2}}</td>
                <td>{{p.P|floatformat:2}}</td>
                <td>{{p.temperature|floatformat:2}}</td>
                <td>{{p.humidity|floatformat:2}}</td>
                <td>{{p.ph|floatformat:2}}</td>
                <td>{{p.rainfall|floatformat:2}}</td>
                <td>{{p.perviouspredictions}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {% if suggest.has_other_pages %}      
                              <div class="row">
                                  <div class="col">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                              {% if suggest.has_previous %}             
                                                  <li class="page-item "><a class="page-link" href="?page={{ suggest.previous_page_number }}"> &laquo; </a></li>
                                              {% endif %}
                                              {% for i in suggest.paginator.page_range  %}
                                                        <li class="page-item " ><a class="page-link" href="?page={{i}}"><span>{{i}}</span></a></li>
                                              {% endfor %}
                                              {% if suggest.has_next%}
                                                  <li class="page-item"><a class="page-link" href="?page={{ suggest.next_page_number }}"> &raquo; </a></li>
                                              {% endif %}
                                        </ul>
                                      </nav>
                                        </div>
                                      </div>
                                    
                              {% endif %}
          <a href="{%url 'services:crop_Suggestions'%}"
            ><input type="submit" value="Make New Suggestion" class="btn btn-succes"
          /></a>
        </div>
      </div>
      <div class="col">
        <h3 class="text-muted text-capitalize text-decoration-underline">
          pervious Predictions
        </h3>
        <div class="table-responsive">
          <table
            class="table table-striped table-bordered text-center text-capitalize table-hover"
          >
            <thead class="thead-light">
              <tr class="table-success text-capitalize">
                <th scope="col">time</th>
                <th scope="col">date</th>
                <th scope="col">temperature</th>
                <th scope="col">humidity</th>
                <th scope="col">Soil Moisture</th>
                <th scope="col">water Level</th>
                <th scope="col">lighting</th>
                <th scope="col">crop type</th>
                <th scope="col">water loss</th>
                <th scope="col">actual water</th>

              </tr>
            </thead>
            <tbody>
              {%for p in predict%}
              <tr class="table-success">
                <td>{{p.time|time:"h:i A"}}</td>
                <td>{{p.date}}</td>
                <td>{{p.temperature|floatformat:2}}</td>
                <td>{{p.humidity|floatformat:2}}</td>
                <td>{{p.soilMoisture|floatformat:2}}</td>
                <td>{{p.waterLevel|floatformat:2}}</td>
                <td>{{p.lighting|floatformat:2}}</td>
                <td>{{p.crop_type}}</td>
                <td>{{p.water_loss|floatformat:2}}</td>
                <td>{{p.actual|floatformat:2}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {% if predict.has_other_pages %}      
                              <div class="row">
                                  <div class="col">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                              {% if predict.has_previous %}             
                                                  <li class="page-item "><a class="page-link" href="?page={{ predict.previous_page_number }}"> &laquo; </a></li>
                                              {% endif %}
                                              {% for i in predict.paginator.page_range  %}
                                                        <li class="page-item " ><a class="page-link" href="?page={{i}}"><span>{{i}}</span></a></li>
                                              {% endfor %}
                                              {% if predict.has_next%}
                                                  <li class="page-item"><a class="page-link" href="?page={{ predict.next_page_number }}"> &raquo; </a></li>
                                              {% endif %}
                                        </ul>
                                      </nav>
                                        </div>
                                      </div>
                                    
                              {% endif %}
          <a href="{%url 'services:water_predictions'%}"
            ><input type="submit" value="Make New Predictions" class="btn btn-succes"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
