{% extends 'base.html' %} {% load bootstrap4 %} {% block title %}Settings
{%endblock %} 
{% block content %}
<div class="container border border-success p-3 mt-3">
  <div class="mx-auto">
    <div class="">
      <h3>Edit Profile</h3>
      <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form userform %}
         {% bootstrap_form profileform %} 
         {% buttons %}
        <button type="submit" class="btn btn-success py-md-3 px-md-5 me-3 mt-3">
          Change
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}