{% extends 'base.html' %}
{%load static %}
{% block title %}Water predictions{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center text-success text-uppercase ">Predict <span class="text-secondary">Water</span> Level</h1>
        <h1 class="h-500 text-center ">Work Soon</h1>
        <p class=" text-center text-capitalize text-dark " >We Now Work On Gather
             Data Using Iot Device To make Machine Learning Model <br>
             That Will Preidict Water Level on Soil That Aim To decrese Water Level leak  based on Data Such as :
        </p>
        <div class="text-center">
             <ul class="  list-group text-center text-dark">
                <li class="list-group-item">temperature</li>
                <li class="list-group-item">humidity</li>
                <li class="list-group-item">Soil Moiture</li>
                <li class="list-group-item">Light Degree</li>
            </ul>
        </div>
    </div>
</div>            

{%endblock content%}
